body {
    font-family: Arial, sans-serif;
}

#primerP {
    color: #6610f2;
}

.text {
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}

h2 {
    padding: 100px;
    color: #6610f2;
}

.progress-bar {
    background-color: #6610f2 !important;
}
.habilidad {
    padding-left: 150px;
    max-width: 300px;
    max-height: 300px;
}
  
.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}

#acerca {
    padding-top: 20px;
    padding-bottom: 15px;
}

#preferencias {
    padding-top: 50px;
    padding-bottom: 75px;
}

#contactame {
    padding-top: 225px;
    padding-bottom: 50px;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}