body {
    font-family: Arial, sans-serif;
}

#primerP {
    color: #6610f2;
}

.text {
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
}
to {
    opacity: 1;
    scale: 100%;
}
}

h2 {
    padding: 100px;
    color: #6610f2;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 0% cover 65%;
    animation-fill-mode: both;
}

.progress-bar {
    background-color: #6610f2 !important;
}
.habilidad {
    padding-left: 150px;
    max-width: 300px;
    max-height: 300px;
}
  
.barrido {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.barrido.visible {
    opacity: 1;
}

#acerca {
    padding-top: 20px;
    padding-bottom: 15px;
}

#preferencias {
    padding-top: 50px;
    padding-bottom: 75px;
}

#contactame {
    padding-top: 225px;
    padding-bottom: 50px;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}